dj-database-url==0.5.0
Django==2.2.1
django-filter==2.1.0
django-fontawesome==1.0
django-inspectdb-refactor==0.4
gunicorn==19.9.0
psycopg2-binary==2.7.7
Markdown==3.1.1
PyYAML==5.1
sqlparse==0.3.0
whitenoise==4.1.2
